ingress:
  hostname: clean.frontend.staging.mmli2.ncsa.illinois.edu
  extraHosts:
  - clean.frontend.staging.mmli1.ncsa.illinois.edu
  tls: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    kubernetes.io/tls-acme: "true"
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.middlewares: "staging-clean-staging-domain-redirect@kubernetescrd"

controller:
  image: moleculemaker/clean-frontend:latest

config:
  hostname: "https://mmli.fastapi.staging.mmli2.ncsa.illinois.edu"
  basePath: ""
  signInUrl: "https://mmli2.ncsa.illinois.edu/oauth2/start?rd=https%3A%2F%2Fclean.frontend.staging.mmli2.ncsa.illinois.edu%2Fconfiguration"
  signOutUrl: "https://mmli2.ncsa.illinois.edu/oauth2/sign_out?rd=https%3A%2F%2Fclean.frontend.staging.mmli2.ncsa.illinois.edu%2Fconfiguration"
  userInfoUrl: "https://mmli2.ncsa.illinois.edu/oauth2/userinfo"
  enableHCAPTCHA: "false"
  
extraDeploy:
# Redirect any users attempting to go to mmli1 and bring them to mmli2 instead
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: clean-staging-domain-redirect
    namespace: staging
  spec:
    redirectRegex:
      regex: "^https:\/\/clean\.frontend\.staging\.mmli.\.ncsa\.illinois\.edu\/?(.*)"
      replacement: "https://clean.frontend.staging.mmli2.ncsa.illinois.edu/${1}"
      permanent: true
